<a href="https://colab.research.google.com/github/khairat22/khairat22-Hamoye-data-sci/blob/master/Stage1_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import numpy as np
import pandas as pd
#import plotting library
import matplotlib.pyplot as plt
import seaborn as sns

In [96]:
#q1
#both appaend and extend return none
A = [1,2,3,4,5,6]
B = [13,21,34]
# print(A+B) #should be the answer
A_B=  A.append(B)
print(A_B)
#

None

In [42]:
#q2
np.identity(3, dtype=int)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [43]:
#Read file and get summary 
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url, error_bad_lines=False)
print(fuel_data)
# print(fuel_data['fuel_unit'].dropna(), '\n')
#180 columns are NaN in the fuel_unit column
# fuel_data.describe(include = 'all')

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [44]:
#q3
fuel_data.groupby('fuel_type_code_pudl').mean()['fuel_cost_per_unit_burned']

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [45]:
#q4
fuel_data.describe()['fuel_mmbtu_per_unit']

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [46]:
#q5 skewness
fuel_data.skew()['fuel_qty_burned']

15.851495469109503

In [47]:
#q5 kurtosis
fuel_data.kurt()['fuel_qty_burned']

651.3694501337732

In [103]:
#q6
#get number of elements that are null in each column
fuel_data.isnull().sum()
print(180*100/29523)
#0.610%

0.6096941367747181

In [49]:
#q6 Percent

In [50]:
#q7
fuel_data.groupby('fuel_unit')['fuel_unit'].count()
# fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value = 'mcf')
# fuel_data.isnull().sum()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [78]:
#q8
fuel_data.groupby('report_year').mean()['fuel_cost_per_unit_delivered'].max()

11140.19723948813

In [76]:
#q9
fuel_data.corr()['fuel_cost_per_unit_burned']

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [101]:
fd2 = pd.DataFrame(fuel_data, columns=['report_year','fuel_cost_per_unit_burned','fuel_type_code_pudl'])
print(fd2)

       report_year  fuel_cost_per_unit_burned fuel_type_code_pudl
0             1994                      18.59                coal
1             1994                      18.58                coal
2             1994                      39.72                coal
3             1994                      47.21                coal
4             1994                       2.77                 gas
...            ...                        ...                 ...
29518         2018                       4.78                 gas
29519         2018                       3.65                 gas
29520         2018                       4.77                 gas
29521         2018                       3.06                coal
29522         2018                       0.00                 gas

[29523 rows x 3 columns]